body {
  margin-top: 120px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#ex1Slider {
	width: 886px;
}

.table td {
   text-align: center; 
   border: none !important;
   border-style: none !important;
}

.pain-image {
	width: 80%;
}
.pain-image.selected {
	border-radius: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(66,138,202,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(66,138,202,1);
	box-shadow: 0px 0px 10px 0px rgba(66,138,202,1);
}

.strong {
	font-weight: bold;
}

.meda {
	font-family: Helvetica !important;
	font-size: 20px !important; 
	font-weight: 900 !important; 
	color: black !important;
	padding: 7px;
}

.ico  {
	font-size: 20px !important; 
	font-weight: 900 !important; 
	color: #0080ff !important;
}

body {
    background-color: #323232;
  	margin-top: 120px;
}

.btn-warning {
	padding: 1px 16px; 
}

#nshadow {
	-webkit-box-shadow: 0px 22px 86px -20px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px 22px 86px -20px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 22px 86px -20px rgba(0,0,0,0.75) !important;
}

#cshadow {
	-webkit-box-shadow: 0px 22px 86px -20px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 0px 22px 86px -20px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 22px 86px -20px rgba(0,0,0,0.75) !important;
}

.padx {
	padding: 2rem 35rem;
}

.lilpad {
	padding: 2rem 4rem;
}

.special {
	padding-top: 50px !important;
}

.login {
	max-width: 350px;
	align-content: center;
}

.custom {
	width: 100px !important;
}

.editFirstName {
	height: 25px;
	width: 174px;
}

.editLastName {
	height: 25px;
	width: 174px;
}

.editEmail {
	height: 25px;
	width: 174px;
}

.editTelephone {
	height: 25px;
	width: 174px;
}

.editAddress {
	height: 25px;
	width: 174px;
}

.editDateOfBirth {
	height: 25px;
	width: 190px;
}

.editECFirstName {
	height: 25px;
	width: 174px; 
}

.editECLastName {
	height: 25px;
	width: 174px; 
}

.editECTelephone {
	height: 25px;
	width: 174px; 
}

.editMedications {
	height: 25px;
	width: 174px; 
}

.editChronicConditions {
	height: 25px;
	width: 174px; 
}