<nav class="navbar navbar-light navbar-fixed-top" id="nshadow" style="background-color: ghostwhite;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <i class="fa fa-h-square navbar-brand ico" aria-hidden="true"><span class="meda">MedAgenda</span></i>
  </div>
  <div id="navbar" class="collapse navbar-collapse">

  </div><!--/.nav-collapse -->
</nav>
