<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <wizard on-finish="finishedWizard()">
            <wz-step wz-title="Check In">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Welcome... </h4>
                        <br>Please enter your information to continue.
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" ng-model="feature.patient.firstName">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" ng-model="feature.patient.lastName">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" ng-model="feature.patient.email">
                            </div>
                            <button class="btn btn-block btn-info" type="submit" ng-click="feature.evaluateIsNewUser()">Continue</button>
                        </form>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Personal Info" wz-disabled="{{feature.isReturningUser}}">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Tell us a little bit more about yourself...
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Telephone</label>
                                <input type="text" class="form-control" ng-model="feature.patient.telephone">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" ng-model="feature.patient.address">
                            </div>
                            <div class="form-group">
                                <label>Emergency Contact</label>
                                <input type="text" class="form-control" ng-model="feature.patient.emergencyContactName">
                            </div>
                            <div class="form-group">
                                <label>Emergency Contact Telephone</label>
                                <input type="text" class="form-control" ng-model="feature.patient.emergencyContactPhone">
                            </div>
                            <div class="form-group">
                                <label>Medications</label>
                                <input type="text" class="form-control" ng-model="feature.patient.medications">
                            </div>
                            <div class="form-group">
                                <label>Chronic Conditions (i.e. Athsma, Diebetes, etc...)</label>
                                <input type="text" class="form-control" ng-model="feature.patient.conditions">
                            </div>
                            <button class="btn btn-block btn-info" type="submit" wz-next value="Continue">Continue</button>
                        </form>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Reason for Visit">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        How are you feeling today?
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Please select from the list all of the symptoms that you are currently experiencing</label>
                                <select class="form-control" ng-model="feature.patient.symptom" placeholder="Symptom">
                                    <option value="Head Trauma">Head Trauma</option>
                                    <option value="Broken Bone">Broken Bone</option>
                                    <option value="Loss Of Consciousness">Loss of Consciousness</option>
                                    <option value="fever">Fever</option>
                                    <option value="Loss Of Blood">Loss Of Blood</option>
                                </select>
                            </div>
                            
                            
                            <div>
                            <label>How bad does it hurt?</label>
                                <table class="table">   
                                    <tbody>
                                        <tr>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 1" ng-src="/images/1.jpg" ng-class="{ 'selected': feature.patient.painScale === 1 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 2" ng-src="/images/2.jpg" ng-class="{ 'selected': feature.patient.painScale === 2 }"/></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 3" ng-src="/images/3.jpg" ng-class="{ 'selected': feature.patient.painScale === 3 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 4" ng-src="/images/4.jpg" ng-class="{ 'selected': feature.patient.painScale === 4 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 5" ng-src="/images/5.jpg" ng-class="{ 'selected': feature.patient.painScale === 5 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 6" ng-src="/images/6.jpg" ng-class="{ 'selected': feature.patient.painScale === 6 }" /></td>
                                            <!-- <td><img ng-click="one = !one" ng-hide="one" src="/images/1.jpg" alt=""><img class="selectedImg" ng-click="one = !one" ng-show="one" src="/images/1.jpg" alt=""></td>
                                            <td><img ng-click="two = !two" ng-hide="two" src="/images/2.jpg" alt=""><img class="selectedImg" ng-click="two = !two" ng-show="two" src="/images/2.jpg" alt=""></td>
                                            <td><img ng-click="three = !three" ng-hide="three" src="/images/3.jpg" alt=""><img class="selectedImg" ng-click="three = !three" ng-show="three" src="/images/3.jpg" alt=""></td>
                                            <td><img ng-click="four = !four" ng-hide="four" src="/images/4.jpg" alt=""><img class="selectedImg" ng-click="four = !four" ng-show="four" src="/images/4.jpg" alt=""></td>
                                            <td><img ng-click="five = !five" ng-hide="five" src="/images/5.jpg" alt=""><img class="selectedImg" ng-click="five = !five" ng-show="five" src="/images/5.jpg" alt=""></td>
                                            <td><img ng-click="six = !six" ng-hide="six" src="/images/6.jpg" alt=""><img class="selectedImg" ng-click="six = !six" ng-show="six" src="/images/6.jpg" alt=""></td> -->
                                        </tr>
                                        <tr>
                                            <td ng-class="{'strong': feature.patient.painScale === 1 }">NO HURT</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 2 }">HURTS LITTLE BIT</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 3 }">HURTS LITTLE MORE</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 4 }">HURTS EVEN MORE</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 5 }">HURTS WHOLE LOT</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 6 }">HURTS WORST</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="form-group">
                                <label>Pain Severity | excruciating(10) to minimal(1) |</label>
                                <select class="form-control" ng-model="feature.patient.painSeverity" placeholder="Symptom">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div> -->
                            <button class="btn btn-block btn-info" type="submit" wz-next value="Continue">Continue</button>
                        </form>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Confirm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Is this information correct?
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4"><strong>First Name: </strong>
                                <div>
                                    <p>{{feature.patient.firstName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4"><strong>Last Name: </strong>
                                <div>
                                    <p>{{feature.patient.lastName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4"><strong>Email: </strong>
                                <div>
                                    <p>{{feature.patient.email}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6"><strong>Telephone: </strong>
                                <div>
                                    <p>{{feature.patient.telephone}}</p>
                                </div>
                            </div>
                            <div class="col-md-6"><strong>Address: </strong>
                                <div>
                                    <p>{{feature.patient.address}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6"><strong>Emergency Contact: </strong>
                                <div>
                                    <p>{{feature.patient.emergencyContactName}}</p>
                                </div>
                            </div>
                            <div class="col-md-6"><strong>Emergency Contact Telephone: </strong>
                                <div>
                                    <p>{{feature.patient.emergencyContactPhone}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6"><strong>Medications: </strong>
                                <div>
                                    <p>{{feature.patient.medications}}</p>
                                </div>
                            </div>
                            <div class="col-md-6"><strong>Chronic Conditions: </strong>
                                <div>
                                    <p>{{feature.patient.conditions}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-block btn-info" type="submit" wz-next value="Continue">Yes</button>
            </wz-step>
        </wizard>
    </div>
</div>
