<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <wizard on-finish="finishedWizard()">
            <wz-step wz-title="Check In">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Welcome... </h4>
                        <br>Please enter your information to continue.
                        <button class="btn btn-warning btn-md pull-right" ng-click="feature.reset()">Reset</button>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" ng-model="feature.patient.firstName">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" ng-model="feature.patient.lastName">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" ng-model="feature.patient.email">
                            </div>
                            <button class="btn btn-block btn-info" type="submit" ng-click="feature.evaluateIsNewUser()">Continue</button>
                        </form>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Personal Info" wz-disabled="{{feature.isReturningUser}}">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Tell us a little bit more about yourself...
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Telephone</label>
                                <input type="text" class="form-control" ng-model="feature.patient.telephone">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" ng-model="feature.patient.address">
                            </div>
                            <div class="form-group">
                                <label>Emergency Contact</label>
                                <input type="text" class="form-control" ng-model="feature.patient.emergencyContactName">
                            </div>
                            <div class="form-group">
                                <label>Emergency Contact Telephone</label>
                                <input type="text" class="form-control" ng-model="feature.patient.emergencyContactPhone">
                            </div>
                            <div class="form-group">
                                <label>Medications</label>
                                <input type="text" class="form-control" ng-model="feature.patient.medications">
                            </div>
                            <div class="form-group">
                                <label>Chronic Conditions (i.e. Athsma, Diebetes, etc...)</label>
                                <input type="text" class="form-control" ng-model="feature.patient.conditions">
                            </div>
                            <button class="btn btn-block btn-info" type="submit" wz-next value="Continue">Continue</button>
                        </form>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Reason for Visit">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        How are you feeling today?
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Please select from the list all of the symptoms that you are currently experiencing</label>
                                <select class="form-control" ng-model="feature.patient.symptom" placeholder="Symptom">
                                    <option value="Head Trauma">Head Trauma</option>
                                    <option value="Broken Bone">Broken Bone</option>
                                    <option value="Loss Of Consciousness">Loss of Consciousness</option>
                                    <option value="fever">Fever</option>
                                    <option value="Loss Of Blood">Loss Of Blood</option>
                                </select>
                            </div>
                            <div>
                                <label>How bad does it hurt?</label>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 1" ng-src="/images/1.jpg" ng-class="{ 'selected': feature.patient.painScale === 1 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 2" ng-src="/images/2.jpg" ng-class="{ 'selected': feature.patient.painScale === 2 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 3" ng-src="/images/3.jpg" ng-class="{ 'selected': feature.patient.painScale === 3 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 4" ng-src="/images/4.jpg" ng-class="{ 'selected': feature.patient.painScale === 4 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 5" ng-src="/images/5.jpg" ng-class="{ 'selected': feature.patient.painScale === 5 }" /></td>
                                            <td width="16%"><img class="pain-image" ng-click="feature.patient.painScale = 6" ng-src="/images/6.jpg" ng-class="{ 'selected': feature.patient.painScale === 6 }" /></td>
                                        </tr>
                                        <tr>
                                            <td ng-class="{'strong': feature.patient.painScale === 1 }">NO HURT</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 2 }">HURTS LITTLE BIT</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 3 }">HURTS LITTLE MORE</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 4 }">HURTS EVEN MORE</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 5 }">HURTS WHOLE LOT</td>
                                            <td ng-class="{'strong': feature.patient.painScale === 6 }">HURTS WORST</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-block btn-info" type="submit" wz-next value="Continue">Continue</button>
                        </form>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Confirm">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Is this information correct?
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4"><strong>First Name: </strong>
                                <div>
                                    <p>{{feature.patient.firstName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4"><strong>Last Name: </strong>
                                <div>
                                    <p>{{feature.patient.lastName}}</p>
                                </div>
                            </div>
                            <div class="col-md-4"><strong>Email: </strong>
                                <div>
                                    <p>{{feature.patient.email}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6"><strong>Telephone: </strong>
                                <div>
                                    <p>{{feature.patient.telephone}}</p>
                                </div>
                            </div>
                            <div class="col-md-6"><strong>Address: </strong>
                                <div>
                                    <p>{{feature.patient.address}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6"><strong>Emergency Contact: </strong>
                                <div>
                                    <p>{{feature.patient.emergencyContactName}}</p>
                                </div>
                            </div>
                            <div class="col-md-6"><strong>Emergency Contact Telephone: </strong>
                                <div>
                                    <p>{{feature.patient.emergencyContactPhone}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6"><strong>Medications: </strong>
                                <div>
                                    <p>{{feature.patient.medications}}</p>
                                </div>
                            </div>
                            <div class="col-md-6"><strong>Chronic Conditions: </strong>
                                <div>
                                    <p>{{feature.patient.conditions}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-block btn-info" type="submit" wz-next value="Continue">Yes</button>
            </wz-step>
        </wizard>
    </div>
</div>
<!-- <button class="btn btn-block btn-info" type="submit" ng-disabled="feature.disabledValidationCheckIn()" ng-click="feature.returningPatientCheck(feature.patient.firstName, feature.patient.lastName, feature.patient.email)">Next</button>
</form>
</div>
</div>
</wz-step>
<wz-step wz-title="Personal Info" wz-disabled="{{feature.isReturningUser}}">
    <div class="panel panel-success">
        <div class="panel-heading">
            Personal Info
            <button class="btn btn-warning btn-md pull-right" ng-click="feature.reset()">Reset</button>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <h4><label>Date of Birth</label></h4>
                    <input type="date" class="form-control" ng-model="feature.patient.dateOfBirth">
                </div>
                <div class="form-group">
                    <h4><label>Telephone</label></h4>
                    <input type="text" class="form-control" ng-model="feature.patient.telephone">
                </div>
                <div class="form-group">
                    <h4><label>Address</label></h4>
                    <input type="text" class="form-control" ng-model="feature.patient.address">
                </div>
                <h4><label>Emergency Contact</label></h4>
                <div class="form-group col-md-offset-1">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="feature.emergencyContact.firstName">
                </div>
                <div class="form-group col-md-offset-1">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="feature.emergencyContact.lastName">
                </div>
                <div class="form-group col-md-offset-1">
                    <label>Telephone</label>
                    <input type="text" class="form-control" ng-model="feature.emergencyContact.telephone">
                </div>
                <div class="form-group">
                    <h4><label>Medications</label></h4>
                    <input type="text" class="form-control" ng-model="feature.patient.medications">
                </div>
                <div class="form-group">
                    <h4><label>Chronic Conditions - ie: Asthma, Diabetes, etc...</label></h4>
                    <input type="text" class="form-control" ng-model="feature.patient.chronicConditions">
                </div>
                <div class="form-group">
                    <h4><label>Allergies</label></h4>
                    <input type="text" class="form-control" ng-model="feature.patient.allergies">
                </div>
                <button class="btn btn-block btn-info" type="submit" ng-disabled="feature.disabledValidationPersonalInfo()" wz-next value="Continue" ng-click="feature.setEmergencyContactToPatient()">Next</button>
            </form>
        </div>
    </div>
</wz-step>
<wz-step wz-title="Reason for Visit">
    <div class="panel panel-success">
        <div class="panel-heading">
            Reason For Visit
            <button class="btn btn-warning btn-md pull-right" ng-click="feature.reset()">Reset</button>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Symptom</label>
                    <select class="form-control" ng-model="feature.patient.symptom" placeholder="Symptom">
                        <option value="Head Trauma">Head Trauma</option>
                        <option value="Broken Bone">Broken Bone</option>
                        <option value="Loss Of Consciousness">Loss of Consciousness</option>
                        <option value="fever">Fever</option>
                        <option value="Loss Of Blood">Loss Of Blood</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Pain Severity | excruciating(10) to minimal(1) |</label>
                    <select class="form-control" ng-model="feature.patient.painSeverity" placeholder="Symptom">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <button class="btn btn-block btn-info" type="submit" ng-disabled="feature.disabledReasonForVisit()" wz-next value="Continue">Next</button>
            </form>
        </div>
    </div>
</wz-step>
<wz-step wz-title="Confirm">
    <div class="panel panel-success">
        <div class="panel-heading">
            Is this correct?
            <button class="btn btn-warning btn-md pull-right" ng-click="feature.reset()">Reset</button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h4>First Name: </h4>
                    <div ng-click="isEditingFirst = true">
                        <p ng-hide="isEditingFirst">{{feature.patient.firstName}}</p>
                        <input ng-show="isEditingFirst" ng-model="feature.patient.firstName" ng-blur="isEditingFirst = false">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Last Name: </h4>
                    <div ng-click="isEditingLast = true">
                        <p ng-hide="isEditingLast">{{feature.patient.lastName}}</p>
                        <input ng-show="isEditingLast" ng-model="feature.patient.lastName" ng-blur="isEditingLast = false">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Email: </h4>
                    <div ng-click="isEditingEmail = true">
                        <p ng-hide="isEditingEmail">{{feature.patient.email}}</p>
                        <input ng-show="isEditingEmail" ng-model="feature.patient.email" ng-blur="isEditingEmail = false">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h4>Telephone: </h4>
                    <div ng-click="isEditingTelephone = true">
                        <p ng-hide="isEditingTelephone">{{feature.patient.telephone}}</p>
                        <input ng-show="isEditingTelephone" ng-model="feature.patient.telephone" ng-blur="isEditingTelephone = false">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Address: </h4>
                    <div ng-click="isEditingAddress = true">
                        <p ng-hide="isEditingAddress">{{feature.patient.address}}</p>
                        <input ng-show="isEditingAddress" ng-model="feature.patient.address" ng-blur="isEditingAddress = false">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Date of Birth: </h4>
                    <div ng-click="isEditingBirthDay = true">
                        <p ng-hide="isEditingBirthDay">{{feature.patient.dateOfBirth}}</p>
                        <inputn type="date" g-show="isEditingBirthDay" ng-model="feature.patient.dateOfBirth" ng-blur="isEditingBirthDay = false">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4 class="text-center">Emergency Contact Info</h4>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="contact in feature.patient.emergencyContacts">
                                <td ng-click="isEditingECFirstName = true">
                                    <div ng-hide="isEditingECFirstName">{{contact.firstName}}</div>
                                    <input type="text" ng-model="contact.firstName" ng-show="isEditingECFirstName" ng-blur="feature.editECArray(contact); isEditingECFirstName = false">
                                </td>
                                <td ng-click="isEditingECLastName = true">
                                    <div ng-hide="isEditingECLastName">{{contact.lastName}}</div>
                                    <input type="text" ng-model="contact.lastName" ng-show="isEditingECLastName" ng-blur="feature.editECArray(contact); isEditingECLastName = false">
                                </td>
                                <td ng-click="isEditingECTelephone = true">
                                    <div ng-hide="isEditingECTelephone">{{contact.telephone}}</div>
                                    <input type="text" ng-model="contact.telephone" ng-show="isEditingECTelephone" ng-blur="feature.editECArray(contact); isEditingECTelephone = false">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h4>Medications: </h4>
                    <div ng-click="isEditingMedications = true">
                        <p ng-hide="isEditingMedications">{{feature.patient.medications}}</p>
                        <input ng-show="isEditingMedications" ng-model="feature.patient.medications" ng-blur="isEditingMedications = false">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Chronic Conditions: </h4>
                    <div ng-click="isEditingConditions = true">
                        <p ng-hide="isEditingConditions">{{feature.patient.chronicConditions}}</p>
                        <input ng-show="isEditingConditions" ng-model="feature.patient.chronicConditions" ng-blur="isEditingConditions = false">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-block btn-info" type="submit" wz-next value="Continue" ng-click="feature.writePatientToDatabase()">Submit</button>
</wz-step>
</wizard>
</div>
</div>
 -->
